<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" aria-label="Galleria e-commerce shop">local_shipping</mat-icon>
    <span class="app-title">Galleria e-commerce shop</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="purchase-order-card">
  <div fxLayout="row wrap" class="test-data-builder">
    <div fxFlex="150px"><button mat-raised-button color="primary" (click)="buildTestData()">Build Test Data</button></div>
    <div fxFlex="auto" class="progress"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
  </div>
</mat-card>
