.purchase-order-process {
  margin: 100px auto auto auto;
  padding:16px;
  max-width: 1440px;

  .app-title {
    padding-left: 16px;
  }

  .purchase-order-card {     
   
  }

  .test-data-builder {
    width: 100%;
  }

  .progress {
    margin: auto;
  }
}
